Package: com.ioscheaters.pwner
Name: Pwner
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Alucard
Author: Alucard
Section: Tweaks
